.flex-container {
    display: flex; 
    justify-content: center;
}

#title, #title-next-piece {
    margin: 5px;
    text-align: center;
}

#title-next-piece {
    margin-top: 66px;
}

#col2 {
    margin-left: 3%;
}

.score {
    text-align: center;
}

.app {
    outline: none;
}
