.flex-container {
    display: flex;
    justify-content: flex-start; 
}

#col1, #col2 {
    margin: 0% 3% 0% 3%;
}

#title, #title-next-piece {
    margin: 5px;
    text-align: center;
}

#title-score {
    text-align: center;
    margin-top: 40px;
}

.app {
    outline: none;
}
