.flex-container {
    display: flex;
    justify-content: flex-start; 
}

.col1, .col2 {
    margin: 0% 3% 0% 3%;
}

#title {
    margin: 5px;
}

.app {
    outline: none;
}

.next-piece-slot{
background-color: lightgrey;
width: 150px;
height: 150px;
}
