/* falling tile */
.falling,
.empty,
.locked {
    border: 1px solid black;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 1px;
}

.falling {
    background-color: lightgreen;
}
/* empty tile */
.empty {
    background-color: lightgrey;
}

/* locked tile */
.locked {
    background-color: pink;
}
